@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,300&subset=latin,cyrillic);

@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 1em;
    font-style: normal;
}.flaticon-arrow486:before {
    content: "\e000";
}
.flaticon-directional27:before {
    content: "\e001";
}
.flaticon-facebook55:before {
    content: "\e002";
}
.flaticon-instagram12:before {
    content: "\e003";
}
.flaticon-left222:before {
    content: "\e004";
}
.flaticon-menu45:before {
    content: "\e005";
}
.flaticon-rectangular4:before {
    content: "\e006";
}
.flaticon-youtube33:before {
    content: "\e007";
}

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover, a:focus {
    color: none;
    text-decoration: none;
    outline: none;
}
h1 {
    color: #f1d004;
    font: 2.083em/2.500em Ubuntu, sans-serif;
    font-weight: 300;
}
body {
    line-height: 1.3;
}
#content {
    position: relative;
}
.container img,
.about-back img {
    width: 100%;
    height: auto;
    height: auto\9; /*ie8*/
}
.navbar {
    background-color: #ffdb01;
    min-height: 80px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0;
}
.nav>li>a:hover, .nav>li>a:focus {
    color: #666666;
    background-color: transparent;
}
.nav>li>a:visited {
    outline:none;
}
.project-container {
    margin-bottom: 90px;
}
.project {
    position: relative;
    height: auto;
    width: 33.333333333%;
    max-height: 370px;
    min-width: 320px;
    max-width: 466px;
    float: left;
}
.filter {
    cursor: pointer;
    text-align: right;
    height: 70px;
    margin-top: 80px;
    padding-top: 40px;
}
.filter span {
    text-transform: uppercase;
    color: #ffdb01;
}
.filter .glyphicon {
    margin-right: 5px;
}
.filter:hover {
    opacity: 0.7;
}
.filter-inner {
    height: 40px;
    width: 100%;
}
.filter-inner a {
    font: 1.083em "Ubuntu", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffdb01;
    margin-left: 15px;
    float: right;
}

.filter-inner a:active,
.filter-inner a:hover {
    text-decoration: underline;
}
.footer {
    min-height: 100px;
    background-color: #242321;
    text-align: center;
}
.logo {
    position: absolute;
    max-width: 90px;
}
.logo:hover {
    opacity: 0.7;
}
.menu {
    padding-bottom: 40px;
    text-transform: uppercase;
}
.menu li {
    margin-bottom: 15px;
}
.lang {
    position: absolute;
    left: 0;
    top: -5px;
    color: black;
    opacity: 0;
    font-weight: 300;
    font: 1em "Ubuntu", sans-serif;
    text-transform: uppercase;
}
.social-block {
    min-width: 175px;
    border-left: 2px solid #f0cf03;
    border-right: 2px solid #f0cf03;
}
.contacts .social-block {
    border: none;
    position: absolute;
    bottom: 25px;
    left: -20px;
    color: #ebeae8;
}
.contacts .social-block span {
    color: #ebeae8;
}
.footer-order {
    padding-left: 55px;
    text-transform: uppercase;
    text-align: left;
}
.footer-contacts {
    padding-right: 55px;
    text-align: right;
}
.footer-contacts,
.footer-order,
.footer-contacts a,
.footer-order a,
.up a {
    font-weight: 300;
    font: 1.083em Ubuntu, sans-serif;
    color: #f0cf03;
    text-decoration: none;
}
.up span {
    margin-left: 10px;
}
.up {
    position: absolute;
    bottom: 90px;
    left: -90px;
}
.footer-contacts,
.footer-order {
    padding-top: 3px;
}
.footer-inner {
    padding-top: 40px;
}
.social-block span {
    font-size: 2.500em;
    color: #f0cf03;
    padding:10px;
}
.show {
    opacity: 1;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;
}
.article {
    background-color: white;
}
.article-inner p {
    color: black;
    font-weight: 400;
    font: 2em Ubuntu, sans-serif;
}
.article-inner {
    margin: 80px 90px 60px 90px;
}
.post-description,
.about-page-block {
    margin-top: 84px;
    padding-left: 50px;
}
.post-description h1 {
    max-width: 500px;
    margin-top: 70px;
}
.tags a {
    font: 1.083em "Ubuntu", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: underline;
    color: #ebeae8;
}
.tags li {
    margin-right: 40px;
}
.post-description h1,
.tags li,
.the-description,
.the-description p,
.autors {
    display: inline-block;
}
.post-description p,
.autors p,
.about-page-block p {
    font: 1.500em "Ubuntu", sans-serif;
    color: #ebeae8;
    font-weight: 300;
    margin: 0;
}
.the-description p {
    margin: 0 0 20px 0;
}
.autors {
    border-top: 2px solid #ebeae8;
    padding:26px 0 100px 0;
}
.tags {
    margin-bottom: 55px;
}
.about-block {
    position: relative;
    overflow: hidden;
    margin-top: 80px;
    min-height: 500px;
}
.about-block img {
    position: absolute;
    z-index: -5;
    width: auto;
    height: 100%;
}
.about-page p {
    margin-bottom: 20px;
    font-size: 1.083em;
}
.about-page h1 {
    text-transform: uppercase;
    font: 3em "Ubuntu", sans-serif;
    font-weight: 300;
    margin: 70px 0 30px 0;
}
.about-part h1,
.social-part h1 {
    max-width: 50%;
}
.contacts-part h1 {
    text-align: center;
}
.about-part,
.social-part,
.contacts-part {
    padding-bottom: 70px;   
}
.tab {
    margin: 70px 0 70px 40px;
}
.clients-part {
    padding-bottom: 40px;
}
.clients-part {
    text-align: center;
    background-color: #ebeae8;
}
.clients-part h1 {
    padding: 40px 0 20px 0;
    margin: 0;
    color: #313131;
}
.clients-inner {
    display: inline-block;
    max-width: 1001px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.clients-inner img {
    width: 200px;
    float: left;
}
.contacts-part .social-block {
    border: none;
    margin-left: -16px;
}
.contacts-part .social-block span {
    color: #ebeae8;
}
.contact-form input {
    display: block;
    width: 100%;
    height: 33px;
    margin-bottom: 20px;
}
.contact-form input[type="textarea"] {
    min-height: 160px;
}
.contact-form input::-webkit-input-placeholder {
    text-indent: 18px;
    text-transform: uppercase;
    color: #313131;
    font: 14px "Ubuntu", sans-serif;
    font-weight: 400;
}
.contact-form input::-moz-placeholder {
    text-indent: 18px;
    text-transform: uppercase;
    color: #313131;
    font: 14px "Ubuntu", sans-serif;
    font-weight: 400;
}
.contact-form input:-moz-placeholder {
    text-indent: 18px;
    text-transform: uppercase;
    color: #313131;
    font: 14px "Ubuntu", sans-serif;
    font-weight: 400;
}
.contact-form input:-ms-placeholder {
    text-indent: 18px;
    text-transform: uppercase;
    color: #313131;
    font: 14px "Ubuntu", sans-serif;
    font-weight: 400;
}
.contact-form input[type="submit"] {
    width: 150px;
    color: #313131;
    font: 14px "Ubuntu", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.contact-form input {
    background-color: #ebeae8;
}
.adress {
    margin-bottom: 175px;
}
.download-brif {
    margin-bottom: 59px;
}
.download-brif a {
    color: #ebeae8;
}
.download-brif img {
    width: 35px;
    height: 45px;
    float: left;
    margin-right: 16px;
}
.contacts h1 {
    margin: 0 0 30px 0;
}
.map {
    height: 482px;
}
.collapse-width {
    float: right;
}
/*---start hover effect---*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #f1d004;
  border-top: 1px solid #f1d004;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.4);
  -webkit-filter: brightness(0.4);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 14px;
  background-color: transparent;
  color: #f1d004;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a {
  color: #f1d004;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}
.overlay span {
  color: #f1d004;
  margin-top: 20px;
  font-size: 20px;
}
.hovereffect:hover a, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.hovereffect a {
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
/*---end hover effect---*/
.modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.modal-body {
    padding: 0;
}
.burger>span {
    display: inline-block;
    font-size: 2.5em;
    margin-left: 60px;
    min-width: 30px;
}
.header {
    padding-top: 20px;
}
.upload {
    position: absolute;
    z-index: 999;
    color: #313131;
    right: 10px;
    top: 170px;
    font-size: 30px;
    cursor: pointer;
}
.upload input {
    width: 30px;
    position: absolute;
    top: 0;
    margin-bottom: 0;
    opacity: 0;
}
@media (min-width: 320px) and (max-width: 768px) {
  .social-block {
    border-left: none;
    border-right: none;
    border-top: 2px solid #f0cf03;
    border-bottom: 2px solid #f0cf03;
  }
  .footer-contacts,
  .social-block,
  .footer-order {
    height: 60px;
    text-align: center;
    padding-top: 15px;
  }
  .footer-order {
    margin-left: 0;
  }
  .social-block {
    margin-left: 25%;
    padding-bottom: 15px;
    height: auto;
  }
  .footer-inner {
    padding-top: 0;
  }
  ul.nav,
  .lang {
    float: right;
  }
  ul.navbar-right {
    margin-top: -10px;
  }
  .filter span,
  .filter-inner {
    padding-right: 10px;
  }
  .menu {
    padding-bottom: 0;
  }
  .adress,
  .download-brif {
    margin-bottom: 0;
    }
  .contacts-part .social-block {
      margin-left: 0;
      margin-top: 20px;
  }
  .container {
      padding-left: 10px;
      padding-right: 10px;
  }
  .about-block img {
      display: none;
  }
  .about-block {
      background-color: #424242;
  }
  .contact-form input[type="submit"] {
      margin: 0 auto;
  }
  .footer-order {
    padding-left: 0;
  }
  .footer-contacts {
    padding-right: 0;
  }
  .up {
    bottom: 35px;
    left: 45%;
  }      
}

