@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,500italic,500,400italic,300italic,300&subset=latin,cyrillic);

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #040404;
}
div {
    display: block;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    color: #f1d004;
    font: 25px/30px Ubuntu, sans-serif;
    font-weight: 300;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 72.9166666666%;
    max-width: 1400px;
    margin: 0 auto;
}
.full-size {
    width: 100%;
}
.third-size {
    width: 33.3333333333333%;
}
.semi-size {
    width: 50%;
}
.container img,
.about-back img {
    width: 100%;
    height: auto;
    height: auto\9; /*ie8*/
}
.container ul,
.tags {
    list-style: none;
    padding: 0;
}
.navbar {
    background-color: #ffdb01;
}
.navbar-inner, .navbar {
    position: relative;
    min-height: 110px;
    -webkit-transition: min-height 0.7s;
    -moz-transition: min-height 0.7s;
    transition: min-height 0.7s;
}
.big-nav {
    min-height: 190px;
    -webkit-transition: min-height 0.7s;
    -moz-transition: min-height 0.7s;
    transition: min-height 0.7s;
}
.project-container {
    margin-bottom: 90px;
}
.project {
    position: relative;
    height: auto;
    width: 33.333333333%;
    max-height: 370px;
    min-width: 320px;
    max-width: 466px;
    float: left;
}
.filter {
    min-height: 90px;
}
.footer {
    height: 130px;
    margin: 0 auto;
    background-color: #242321;
    text-align: center;
}
.project-description {
    position: absolute;
    padding: 55px 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 10;
    color: #f1d004;
    background-color: rgba(4,4,4,0.76);
    font: 25px/30px Ubuntu, sans-serif;
    font-weight: 300;
    -webkit-transition: opacity 0.5s ;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.logo {
    position: absolute;
    top: 30px;
    max-width: 123px;
}
.logo:hover {
    opacity: 0.6;
}
.right-menu {
    float: right;
    position: relative;
    width: 110px;
    margin-top: 48px;
}
.burger {
    position: absolute;
    right: 0;
    height: 15px;
    width: 34px;
    opacity: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    cursor: pointer;
    z-index: 100;
}
.burger-inside {
    display: block;
    height: 3px;
    background-color: black;
    width: 34px;
    margin-top: 6px;
}
.main-menu li {
    margin-bottom: 20px;
}
.close {
    font: 3.3em Verdana , sans-serif;
    opacity: 0;
    position: absolute;
    right: -7px;
    top: -25px;
    cursor: pointer;
    z-index: 10;
}
.lang {
    position: absolute;
    left: 0;
    top: -1px;
    opacity: 0;
    color: black;
    font-weight: 300;
    font: 13px Ubuntu, sans-serif;
    text-transform: uppercase;
}
.footer-inner,
.social-block {
    display:inline-block;
    height: 50px;
}
.footer-order,
.footer-contacts,
.social-block {
    float: left;
}
.social-block {
    width: 176px;
    border-left: 2px solid #f0cf03;
    border-right: 2px solid #f0cf03;
}
.footer-order {
    margin-left: 26px;
    text-transform: uppercase;
}
.footer-contacts,
.footer-order,
.footer-contacts a,
.footer-order a {
    font-weight: 300;
    font: 13px Ubuntu, sans-serif;
    color: #f0cf03;
    text-decoration: none;
}
.footer-contacts,
.footer-order {
    padding-top: 12px;
    width: 134px;
    text-align: left;
}
.footer-inner {
    margin-top: 40px;
}
.icon-facebook {
    background-image:url(../img/iconfacebook.png);
}
.icon-insta {
    background-image:url(../img/iconinsta.png);
}
.icon-youtube {
    background-image:url(../img/iconyoutube.png);
}
.icon-facebook,
.icon-insta,
.icon-youtube {
    display: inline-block;
    height: 50px;
    width: 44px;
}
.main-menu {
    display: block;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 40px;
    margin: 0;
    opacity: 0;
    text-transform: uppercase;
    font-weight: 300;
    font: 13px Ubuntu, sans-serif;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;

}
.show {
    opacity: 1;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    transition: opacity 0.7s;
}
.article {
    background-color: white;
}
.article-inner p {
    font-weight: 300;
    font: 13px Ubuntu, sans-serif;
}
.article-inner {
    margin: 80px 90px 60px 90px;
}
.project-img,
.article {
    float: left;
}
.post-description,
.about-page-block {
    min-height: 440px;
    margin-top: 84px;
    padding-left: 50px;
}
.post-description h1 {
    max-width: 500px;
    margin-top: 70px;
}
.tags a {
    font: 13px "Ubuntu", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
}
.tags li {
    margin-right: 40px;
}
.post-description h1,
.tags li,
.the-description,
.the-description p,
.autors {
    display: inline-block;
}
.post-description p,
.autors p,
.about-page-block p {
    font: 18px "Ubuntu", sans-serif;
    color: white;
    font-weight: 300;
    margin: 0;
}
.the-description p {
    max-width: 60%;
    margin: 0 0 20px 0;
}
.autors {
    max-width: 300px;
    border-top: 2px solid white;
    padding:26px 0 100px 0;
}
.tags {
    margin-bottom: 55px;
}
.about-back {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -5;
}
.about-page-block p {
    margin-bottom: 30px;
}
.about-page-block h1,
.clients h1,
.contacts h1 {
    text-transform: uppercase;
    font: 50px "Ubuntu", sans-serif;
    font-weight: 300;
}
.about-page-block h1 {
    margin: 100px 0 50px 0;
    max-width: 33%;
}
.about-page-block {
    display: inline-block;
    max-width: 66%;
    margin-top: 0;
    margin-bottom: 70px;
}
.tab {
    margin: 100px 0 100px 70px;
}
.clients {
    text-align: center;
    min-height: 590px;
    background-color: #ebeae8;
}
.clients h1 {
    padding: 50px 0;
    margin: 0;
    color: #313131;
}
.clients-inner {
    display: inline-block;
    max-width: 1001px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.clients-inner img {
    width: 200px;
    float: left;
}
.contacts {
    min-height: 790px;
    padding: 100px 0;
    text-align: center;
    color: #ebeae8;
    font: 18px "Ubuntu", sans-serif;
    font-weight: 300;
}
.contact-form {
    display: inline-block;
    width: 660px;
}
.contact-form input {
    display: block;
    width: 100%;
    min-height: 46px;
    margin-bottom: 25px;
}
.contact-form input[type="textarea"] {
    min-height: 225px;
}
.contact-form input::-webkit-input-placeholder {
    text-indent: 25px;
    text-transform: uppercase;
    color: #313131;
    font: 18px "Ubuntu", sans-serif;
    font-weight: 300;
}
.contact-form input::-moz-placeholder {
    text-indent: 25px;
    text-transform: uppercase;
    color: #313131;
    font: 18px "Ubuntu", sans-serif;
    font-weight: 300;
}
.contact-form input:-moz-placeholder {
    text-indent: 25px;
    text-transform: uppercase;
    color: #313131;
    font: 18px "Ubuntu", sans-serif;
    font-weight: 300;
}
.contact-form input:-ms-placeholder {
    text-indent: 25px;
    text-transform: uppercase;
    color: #313131;
    font: 18px "Ubuntu", sans-serif;
    font-weight: 300;
}
.contact-form input[type="submit"] {
    height: 46px;
    width: 150px;
    color: #313131;
    font: 18px "Ubuntu", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
.contact-form input {
    background-color: #ebeae8;
}
.contacts-inner {
    position: relative;
}
.adress,
.download-brif {
    position: absolute;
    left: 0;
    text-align: left;
}
.adress {
    top: 0;
}
.download-brif {
    bottom: 140px;
    margin-bottom: 25px;
}
.download-brif a {
    color: #ebeae8;
}
.download-brif img {
    width: 35px;
    height: 45px;
    float: left;
    margin-right: 16px;
}
.contacts h1 {
    margin: 0 0 42px 0;
}
.map {
    height: 675px;
}
